{% comment %}
  Subtle arrow link component
  
  Parameters:
  - text: Link text (required)
  - url: Link destination (required)
  - class: Additional CSS classes (optional)
  - icon_size: SVG size - '11' or '14' (default: '14')
{% endcomment %}

{% assign icon_size = icon_size | default: '24' %}

<a href="{{ url }}" class="{% if class %}{{ class }}{% else %}arrow-link{% endif %}">
  {{ text }}
  <span class="arrow-link__icon" style="width: {{ icon_size }}px; height: {{ icon_size | times: 0.625 | round }}px; display: inline-block;">
    {% render 'icon', name: 'arrow-right-wide' %}
  </span>
</a>
