{% comment %}
  Pagination snippet with SVG arrow navigation
  Usage: {% render 'pagination', paginate: paginate %}
{% endcomment %}

{% if paginate.pages > 1 %}
  <nav class="pagination" role="navigation" aria-label="Pagination">
    <ul class="pagination-list">
      {% if paginate.previous %}
        <li class="pagination-item pagination-item--prev">
          <a href="{{ paginate.previous.url }}" class="pagination-link">
            {% render 'icon', name: 'arrow-left', class: 'pagination-arrow pagination-arrow--prev' %}
            <span class="visually-hidden">Previous</span>
          </a>
        </li>
      {% endif %}

      {% for part in paginate.parts %}
        {% if part.is_link %}
          <li class="pagination-item">
            <a href="{{ part.url }}" class="pagination-link">{{ part.title }}</a>
          </li>
        {% else %}
          {% if part.title == paginate.current_page %}
            <li class="pagination-item pagination-item--current">
              <span class="pagination-current" aria-current="page">{{ part.title }}</span>
            </li>
          {% else %}
            <li class="pagination-item">
              <span class="pagination-ellipsis">{{ part.title }}</span>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if paginate.next %}
        <li class="pagination-item pagination-item--next">
          <a href="{{ paginate.next.url }}" class="pagination-link">
            <span class="pagination-next-text">Next</span>
            {% render 'icon', name: 'arrow-right', class: 'pagination-arrow pagination-arrow--next' %}
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
